.cardContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.cardFace {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.cardFront {
  z-index: 2;
  opacity: 1;
  transform: translateX(0);
}

.cardBack {
  z-index: 1;
  opacity: 0;
  transform: translateX(30px);
  background-color: var(--card-color);
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.03);
  // padding: 12px;
  box-sizing: border-box;
}

.flipped .cardFront {
  opacity: 0;
  transform: translateX(-30px);
  z-index: 1;
}

.flipped .cardBack {
  opacity: 1;
  transform: translateX(0);
  z-index: 2;
}

.backHeader {
  height: 40px;
  padding: 0 12px;
  box-sizing: border-box;
  // background-color: #f5f5f5;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.035);
  display: flex;
  align-items: center;
}

.backButton {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: var(--primary-color);
  font-size: 15px;
  cursor: pointer;
  &:hover{
    opacity: 0.72;
  }

  &_icon {
    line-height: 0;
    transform: rotate(180deg);
    margin-right: 5px;
  }
}

.backTitle {
  flex: 1;
  font-size: 16px;
  margin: 0 24px;
  color: var(--text-primary);
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.backOper {
  color: var(--primary-color);
  font-size: 15px;
  cursor: pointer;
  &:hover{
    opacity: 0.72;
  }
}

.backMain {
  padding: 12px;
  box-sizing: border-box;
}

/* .backButton {
  width: 82px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: rgba(255, 255, 255, 0.8);
  // box-shadow: 0 1px 8px rgba(0, 0, 0, 0.03);
  border-radius: 5px;
  color: #555fff;
  font-size: 15px;
  cursor: pointer;
  border: 1px solid rgba(84, 101, 246, 0.2);
  opacity: 0.8;
  transition: all 0.25s ease;

  &:hover {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.03);
    border: 1px solid rgba(84, 101, 246, 0.4);
    opacity: 1;
  }

  &:active {
    background-color: rgba(84, 101, 246, 0.1);
    border: 1px solid rgba(84, 101, 246, 0.6);
    opacity: 1;
  }

  &_icon {
    line-height: 0;
    transform: rotate(180deg);
    font-size: 32px;
    margin-right: 5px;
  }
} */
