<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport"
		content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
	<title>
		<%= htmlWebpackPlugin.options.title %>
	</title>
	<!-- Open Graph data -->
	<!-- <meta property="og:title" content="Title Here" /> -->
	<!-- <meta property="og:url" content="http://www.example.com/" /> -->
	<!-- <meta property="og:image" content="http://example.com/image.jpg" /> -->
	<!-- <meta property="og:description" content="Description Here" /> -->
	<link rel="manifest" href="/static/manifest.webmanifest">
	<link rel="apple-touch-icon" sizes="180x180" href="/static/20250711-110518.png">
	<link rel="apple-touch-icon" href="/static/logo.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/static/logo.png">
	<link rel="apple-touch-icon" sizes="192x192" href="/static/logo.png">
	<link rel="apple-touch-icon" sizes="512x512" href="/static/logo.png">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, viewport-fit=cover, maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="mobile-web-app-capable" content="yes">
	<style>
		html,
		body {
			overscroll-behavior-y: none;
		}
	</style>
	<!-- <script src="https://webapi.amap.com/maps?v=2.0&key=5f3dd6353305059fe284f4dc06e6239a"></script> -->
	<!-- <script src="https://webapi.amap.com/loader.js"></script> -->
	<script>
		document.addEventListener('touchmove', function (event) {
			// 只阻止特定区域的弹性行为（比如顶部或底部）
			const el = event.target.closest('.no-bounce');
			if (!el) return;

			const scrollTop = el.scrollTop;
			const scrollHeight = el.scrollHeight;
			const offsetHeight = el.offsetHeight;

			const isAtTop = scrollTop === 0;
			const isAtBottom = scrollTop + offsetHeight >= scrollHeight;

			if (isAtTop || isAtBottom) {
				event.preventDefault();
			}
		}, { passive: false });
	</script>
	<!-- <script>
		var coverSupport = 'CSS' in window && typeof CSS.supports === 'function' && (CSS.supports('top: env(a)') || CSS
			.supports('top: constant(a)'))
		document.write(
			'<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0' +
			(coverSupport ? ', viewport-fit=cover' : '') + '" />')
	</script> -->
	<link rel="stylesheet" href="<%= BASE_URL %>static/index.<%= VUE_APP_INDEX_CSS_HASH %>.css" />
</head>

<body>
	<noscript>
		<strong>Please enable JavaScript to continue.</strong>
	</noscript>
	<div id="app"></div>
	<!-- built files will be auto injected -->

	<!-- <script>
			var lastTouchEnd = 0;
			document.documentElement.addEventListener('touchend', function(event) {
				var now = Date.now();
				if (now - lastTouchEnd <= 300) {
					event.preventDefault();
				}
				lastTouchEnd = now;
			}, false)
		</script> -->
</body>

</html>